@use 'uswds-core' as *;

.mint-tag {
    padding: 7px 11px;
    display: inline-block;
    text-transform: inherit;
    border-radius: 0;
    font-weight: bold;
    line-height: 1rem;
    margin-right: 0.25rem;

    &__select-tag {
        padding: 6px 9px;
        font-weight: normal;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        background-color: color('primary-lighter');
    }
}
