#system-profile {
    .system-profile {
        &__bookmark {
            font-size: 1.5rem;
            padding-top: .75rem;
            cursor: initial;
        }

        &__main-nav-link {
            color: color($theme-color-primary);
            margin-left: -0.5rem;
            margin-top: -5rem;
            margin-bottom: 2.5rem;
        }
    }

    .sticky-nav {
        align-self: start;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        padding-top: 1rem;
        @media screen and (min-width: $desktop) {
            margin-top: -1rem;
          }
    }

    .link-header {
        text-underline-offset: 0.25rem;
    }

    .usa-sidenav, .usa-nav__primary-item {
        border: none;

        &__item {
            border: none;
        }
    }

    .usa-card__container {
        border-radius: .25rem;
        margin: 0;
    }

    .usa-sidenav__item a:not(.usa-current) {
        padding-left: 0;        
    }

    .usa-nav__close {
        z-index: 1000;
    }

    .nav-group-border {
        border-bottom: .5px solid color($theme-color-disabled-light);
    }
}

.top-divider {
    @media screen and (min-width: $desktop) {
        height: .25rem;
        width: 100%;
        background-color: color($theme-color-primary-lighter);
    }
}

.side-divider {
    padding-left: 2rem;
    @media screen and (max-width: $desktop) {
        border-left: .25rem solid color($theme-color-primary-lighter);        
    } 
}
