.easi-business-case {
  &__name-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }

  &__review-solutions-wrapper {
    padding: 0 16px 32px;
  }
}
