{
	"query": {
		"bool": {
			"filter": [
				{
					"term": {
						"table_id": "1"
					}
				},
				{
					"term": {
						"primary_key.keyword": "{{.ModelPlanID}}"
					}
				}
			]
		}
	}
}
