@use 'viewports' as *;

.assessment-container {
    border-radius: 50%;

    @media screen and (max-width: $mobile) {
        flex: none !important;
    }
}

.assessment-icon {
    top: 5px;
    height: 1.25rem !important;
    width: 1.25rem !important;
}
