# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMSGov/easi

# Frontend Changes
/yarn.lock @CMSGov/easi-frontend
/package.json @CMSGov/easi-frontend
/src/ @CMSGov/easi-frontend
/cypress/ @CMSGov/easi-frontend
/public/ @CMSGov/easi-frontend
/.storybook/ @CMSGov/easi-frontend
*.js @CMSGov/easi-frontend
*.ts @CMSGov/easi-frontend
*.tsx @CMSGov/easi-frontend

# Backend Changes
/go.mod @CMSGov/easi-backend
/go.sum @CMSGov/easi-backend
/pkg/ @CMSGov/easi-backend
/cmd/ @CMSGov/easi-backend
/migrations/ @CMSGov/easi-backend
*.go @CMSGov/easi-backend