# Basic set up for three package managers

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      major:
        patterns:
          - "*"
        update-types:
          - "major"
      other:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      major:
        patterns:
          - "*"
        update-types:
          - "major"
      other:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "github.com/99designs/gqlgen" # Ignoring until https://github.com/99designs/gqlgen/issues/2026 and https://jiraent.cms.gov/browse/EASI-3510 are fixed
      - dependency-name: "github.com/vektah/gqlparser/v2" # Ignoring until gqlgen issues are also resolved, as this also generated a prelude file and breaks generation.
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      # We currently have far too many major NPM packages to upgrade reasonably with dependabot.
      # Let's uncomment this when we're ready to start upgrading them.
      # major:
      #   patterns:
      #     - "*"
      #   update-types:
      #     - "major"
      other:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
