#! /usr/bin/env bash

#########################
# Project Configuration #
#########################

# Helpers for .envrc
APP_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Set environment to local to avoid deployed environment specifics (like auth)
export APP_ENV=local
export CLIENT_PROTOCOL=http
export CLIENT_DOMAIN=localhost
export CLIENT_PORT=3000
export CLIENT_HOSTNAME=$CLIENT_DOMAIN:$CLIENT_PORT
export CLIENT_ADDRESS=$CLIENT_PROTOCOL://$CLIENT_HOSTNAME
export API_PORT=8080
export REACT_APP_API_ADDRESS=$CLIENT_PROTOCOL://$CLIENT_DOMAIN:$API_PORT/api/v1
export REACT_APP_GRAPHQL_ADDRESS=$CLIENT_PROTOCOL://$CLIENT_DOMAIN:$API_PORT/api/graph/query
export REACT_APP_APP_ENV=$APP_ENV
export LOCAL_AUTH_ENABLED=true
export REACT_APP_LOCAL_AUTH_ENABLED=true

# Email variables
export EMAIL_TEMPLATE_DIR=$APP_DIR/pkg/email/templates
export GRT_EMAIL=success@simulator.amazonses.com
export ACCESSIBILITY_TEAM_EMAIL=success@simulator.amazonses.com

# AWS variables
export AWS_REGION=us-west-2
export AWS_SES_SOURCE="\"EASi Local\" <no-reply-$APP_ENV@info.easi.cms.gov>"
export AWS_SES_SOURCE_ARN=ses-arn
export AWS_S3_FILE_UPLOAD_BUCKET=easi-app-file-uploads

# Setup a local lambda to generate PDFs
export LAMBDA_FUNCTION_PRINCE=handler
export LAMBDA_ENDPOINT="http://localhost:9001"

# OKTA variables
export OKTA_CLIENT_ID=0oa2e913coDQeG19S297
export OKTA_CLIENT_ID_DEV=0oa2e913coDQeG19S297
export REACT_APP_OKTA_CLIENT_ID=$OKTA_CLIENT_ID
export OKTA_DOMAIN=https://test.idp.idm.cms.gov
export REACT_APP_OKTA_DOMAIN=$OKTA_DOMAIN
export OKTA_SERVER_ID=aus2e96etlbFPnBHt297
export OKTA_SERVER_ID_DEV=aus2e96etlbFPnBHt297
export REACT_APP_OKTA_SERVER_ID=$OKTA_SERVER_ID
export OKTA_ISSUER=$OKTA_DOMAIN/oauth2/$OKTA_SERVER_ID
export REACT_APP_OKTA_ISSUER=$OKTA_ISSUER
export OKTA_REDIRECT_URI=http://localhost:3000/implicit/callback
export REACT_APP_OKTA_REDIRECT_URI=$OKTA_REDIRECT_URI

# OKTA test account
# Needed to run Cypress tests. Look in 1Password.
export OKTA_TEST_USERNAME=
export OKTA_TEST_PASSWORD=
export OKTA_TEST_SECRET=

# Launch Darkly account
export LD_SDK_KEY=fakekey
export LD_TIMEOUT_SECONDS=30
export LD_ENV_USER=6dec0457-d4f0-490b-83ed-4502aa44a95e
export REACT_APP_LD_ENV_USER=$LD_ENV_USER
export REACT_APP_LD_USER_HASH=
export FLAG_SOURCE=LOCAL # LAUNCH_DARKLY or LOCAL
export REACT_APP_LD_CLIENT_ID=5f51549c031fe609e6df43d8

# Default minio credentials for local use
export MINIO_ACCESS_KEY='minioadmin'
export MINIO_SECRET_KEY='minioadmin'
export MINIO_HOST=minio:9000

# For connecting to a local postgres instance
export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=postgres
export PGUSER=postgres
export PGPASS=mysecretpassword
export PGPASSWORD=mysecretpassword
export PGSSLMODE=disable
export DB_MAX_CONNECTIONS=20

# For exposing a locally running app to other machines via Tailscale
export TAILSCALE_HOSTNAME=$(hostname | awk '{gsub(/\.local$/,""); print tolower($0)}').truss.works.beta.tailscale.net
export TAILSCALE_CLIENT_ADDRESS="http://${TAILSCALE_HOSTNAME}:3000"
export TAILSCALE_REACT_APP_API_ADDRESS="http://${TAILSCALE_HOSTNAME}:8080/api/v1"
export TAILSCALE_REACT_GRAPHQL_ADDRESS="http://${TAILSCALE_HOSTNAME}:8080/api/graph/query"
export TAILSCALE_MINIO_ADDRESS="http://${TAILSCALE_HOSTNAME}:9000"

export USE_TLS=false

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin

export CEDAR_ENV=dev
export CEDAR_API_URL="webmethods-apigw.cedardev.cms.gov"

# Frontend Dev
export ESLINT_NO_DEV_ERRORS=true

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
