server:
  http_listen_port: 9080

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          # Only scrape containers with label "logging=true"
          __meta_docker_container_label_logging: "true"
          __path__: /var/lib/docker/containers/*/*.log
    pipeline_stages:
      - docker: {}
