.read-only-model-plan__timeline__list-item {
  border-left-width: 0.3rem !important;
  margin-left: 1px;

  &::before {
    content: '' !important;
    width: 1.1rem !important;
    height: 1.1rem !important;
    left: 10px !important;
    margin-top: 0 !important;
  }
}
