@use 'viewports' as *;

.banner {
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }

  @media print {
    padding-left: 1rem;
  }
}

.group-filter-banner {
  top: 96px;

  @media screen and (min-width: $desktop) {
    top: 113px;
  }
}
