.operational-solution-details {

  .usa-process-list {
    margin-left: -0.5rem !important;
  }

  .usa-process-list__item {
    padding-left: 1.5rem !important;
  }

  &__timeline-item {
    border-left-width: 0.3rem !important;
    margin-left: 1px;
    padding-top: 0.25rem;

    &::before {
      content: '' !important;
      width: 1.1rem !important;
      height: 1.1rem !important;
      left: 10px !important;
      margin-top: 0 !important;
    }
  }
}

ul .list-item {
  list-style-type: none;
  position: relative;

  &::before {
    content: ".";
    position: absolute;
    left: -0.8em;
    font-size: 1.3em;
    top: -0.63rem;
  }
}
