@use 'uswds-core' as *;
@use 'colors' as *;

.easi-multiselect--tag {
  .usa-icon {
    cursor: pointer;
    flex-shrink: 0;
  }
}

.easi-multiselect .usa-combo-box__list-option {

  &--focused {
    background-color: color('base-lightest');
    outline:  0.25rem solid $focus-border;

    .usa-checkbox {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
  }

  label {
    margin-top: 0;
  }
}

.easi-multiselect {
  .usa-checkbox {
    display: flex;
    align-items: center;
  }
}
