@use 'uswds-core' as *;

.sub-nav {
    &:hover {
        background-color: color($theme-color-primary-dark) !important;
        
        .right-icon {
            margin-left: 1rem !important;
            transition: margin-left .25s;
        }
    }
}
