.article {

    &__body p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: .75rem;
    }
    &-card--isLink {
      cursor: pointer;
    }

    &__tag {
      width: max-content;
    }
}
