.mint-pagination {
    display: inline-flex !important;
    cursor: pointer;

    .usa-pagination__button {
        width: 2.75rem;
        line-height: 0rem;
    }
    
    .usa-current {
        border-radius: .25rem;
        color: white !important;
    }

    .next-page {
        margin-left: .75rem;
    }

    .prev-page {
        margin-right: .75rem;
    }
}

.display-none {
    display: none;
}
