.mint-datepicker-warning {
    position: absolute;
    right: 50px;
    bottom: 3px;
    height: 35px;
    display: flex;
    align-items: center;
}

.usa-tooltip__trigger {
  cursor: initial !important;
}

.usa-tooltip__body {
  white-space: pre-wrap !important;
  max-width: 20rem !important;
  width: max-content !important;
}
