.easi-tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  &__tab-list {
    display: inline-block;
    padding: 0;
    margin: 0 0 -1px;
    list-style-type: none;
    white-space: nowrap;
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    height: 54px;
    flex-shrink: 0;
    position: relative;
    border: 1px solid color($theme-color-base-lighter);
    border-right: 1px solid color($theme-color-base-lighter);

    &:after {
      background-color: $easi-bright-blue;
      content: "";
      height: 4px;
      left: -1px;
      opacity: 0;
      position: absolute;
      right: -1px;
      top: -1px;
      transform: scaleX(0);
    }

    &--selected {
      border-bottom: 1px solid #fff;

      .easi-tabs__tab-btn {
        color: $easi-bright-blue;
      }

      &:after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  &__tab-btn {
    height: 100%;
    padding: 0;
    background: none;
    border: 0;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  &__tab-text {
    margin: 0 1.5em;
  }

  &__tab-panel {
    overflow: auto;
    border-top: 1px solid color($theme-color-base-lighter);

    &--bordered {
      border: 1px solid color($theme-color-base-lighter);

    }
  }
}
