.mint-help-text {
  color: #585c62;
  display: inline-block;
  line-height: 22px;

  // This is a common style needed for the help text.
  // Revisit if this causes issues.
  ul {
    li + li {
      margin-top: 5px;
    }
  }
}
