.model-plan-table {
  th, td {
    position: relative;
    word-break: break-word;    
  }

  .usa-button {
    line-height: inherit !important;
  }

  .usa-table-container--scrollable {
    margin-top: 0 !important;
  }
}
