@use 'uswds-core' as *;

.bookmark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__container {        
        padding: 24px;
        height: 350px;
        border: 2px solid color('disabled-light');
        border-radius: 4px;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 90%;
    }

    &__body-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__tag {
        text-transform: none !important;
        &__icon {
            top: .1em !important;
        }
    }
    &__text {
        &:hover {
            text-decoration: underline !important;
            text-underline-offset: 3px;
        }
    }

    &__status {
        display: flex;
        flex-direction: row-reverse;
    }
}

#main-content .usa-card {
    margin-bottom: 1em;
}
