.easi-governance-overview {
  &__indented-wrapper {
    border-left: 4px solid #585C62;
    padding: 6px 0;
    margin: 1em 0;
  }

  &__indented-body {
    margin: 0 0 0 6px;
    font-weight: bold;
  }

  &__governance-steps {
    counter-reset: step;

    &[start="3"] {
      counter-reset: step 2;
    }
  }
}
