@use 'uswds-core' as *;

#read-only-side-nav__wrapper {
  .usa-sidenav {
    border: none;

    &__item {
      border: none;
    }

    a {
      &:not(.usa-current) {
        padding-left: 0;
        color: color($theme-color-base-darkest);

        &:hover {
          color: color($theme-color-primary);
        }
      }

      &.nav-group-border {
        border-bottom: .5px solid color($theme-color-disabled-light);
      }
    }

  }
}
