.mint-datepicker-warning {
    position: absolute;
    right: 50px;
    bottom: 3px;
    height: 35px;
    display: flex;
    align-items: center;
}

.usa-tooltip__trigger {
  cursor: initial !important;
}
