.solutions-checkbox {
  &__header {
    word-break: break-word;
    line-height: 26px !important;

    .usa-checkbox__label {
      margin-top: 0;
    }
  }
  &__body-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .usa-card__container {
    border-radius: 4px;
  }
}
