@use 'viewports' as *;
@use 'uswds-core' as *;
@use 'colors' as *;

.provider-supplier-modal {
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 400;
  }

  &__content {
    position: absolute;
    width: 70%;
    height: auto;
    min-height: 100%;
    background-color: #fff;
    right: 0;
    z-index: 1;
    line-height: 1.6em;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }
  &__x-button-container {
    width: 100%;
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 1rem;
  }

  &__x-button {
    background: none;
    border: 0;
    line-height: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

#provider-supplier-modal--sidenav {
  .usa-sidenav {
    border: none;

    &__item {
      border: none !important;
    }
  }
  .sidenav-button {
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
      background-color: color($theme-color-base-lightest);
      color: color($theme-color-primary);
    }

    &.current {
      position: relative;
      color: color($theme-color-primary);
      padding: 0.5rem 1rem;
      font-weight: 700;
      margin-left: -1rem;

      &::after {
        background-color: #005ea2;
        border-radius: 99rem;
        content: "";
        display: block;
        position: absolute;
        bottom: 0.25rem;
        top: 0.25rem;
        width: 0.25rem;
        left: 0;
      }
    }

    &:not(.current) {
      padding-left: 0;
      color: color($theme-color-base-darkest);

      &:hover {
        color: color($theme-color-primary);
      }
    }
  }
}
