@mixin spinner-size($inner-size, $outer-size) {
  height: $outer-size;
  width: $outer-size;
  $padding: (($outer-size - $inner-size) / 2);

  &::before,
  &::after {
    border-width: ($inner-size / 8);
    height: $inner-size;
    left: $padding;
    top: $padding;
    width: $inner-size;
  }
}

.easi-spinner {
  @include spinner-size(24px, 24px);
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  &--small {
    @include spinner-size(16px, 16px);
  }

  &--large {
    @include spinner-size(40px, 40px);
  }

  &--xl {
    @include spinner-size(80px, 80px);
  }

  &::before,
  &::after {
    border-radius: 50%;
    border-style: solid;
    box-sizing: border-box;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }

  &::before {
    border-color: inherit;
    opacity: 0.2;
  }

  &::after {
    animation: spin 0.8s infinite linear;
    border-bottom-color: transparent;
    border-left-color: inherit;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: translateZ(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
