.mint-radio {
  &--inline {
    display: inline;
    margin-left: 2rem;
  }

  &__group {
    &--inline {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -2rem;
    }
  }
}
