.mint-collapsable-link {
  &__eye-icon {
    margin-right: .5em;
  }

  &__content {
    border-left: 3px solid #585c62;
    margin: 4px 0 0 7px;
    padding: 10px 0 10px 6px;
  }

  &__content-no-bar {
    margin-top: 4px;
    padding: 10px 0;
  }
}
