#mint-okta-sign-in {
  #okta-sign-in.auth-container {
    .okta-form-label,
    .okta-form-input-field input,
    .link,
    h2,
    h3 {
      color: #595959;
    }
    margin: 0;
  }

  #okta-sign-in.auth-container.main-container {
    color: #595959;
  }
}

.center-container {
  margin: 100px auto 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* Ensure the container is positioned relative for the overlay */
.okta-sign-in-container {
  position: relative;
  display: inline-block;
  width: auto; 
  height: auto; 
}

#mint-okta-sign-in {
  position: relative;
}

.nested-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10; 
  display: flex;
  justify-content: center;
  align-items: center;
}
