@use 'uswds-core' as *;

.home {
    &__card {
        flex-direction: row-reverse;

        .usa-card__container {
            padding: 1rem;
            border-radius: .25rem;
            border: 2px solid color('base-lighter');    
            box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
            width: 18rem !important;
            height: auto !important;
            margin-right: 0 !important;
        }
    }
}
