.usa-alert__body {
    padding-right: 2rem !important;
    max-width: 100% !important;
}

.usa-alert--info .usa-alert__body::before {
    left: 1rem !important;
}

.usa-alert__heading {
    line-height: 1.6rem !important;
}


.mint-alert-text {
    .usa-alert__text {
        justify-content: space-between !important;
        display: flex !important;
    }
}

.mint-alert-slim {
    .usa-alert__body {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.mint-alert-slim-right {
    .usa-alert__body {
        padding-right: 1rem !important;
    }
}

.icon-padding {
    .usa-alert__body {
        padding-left: 4rem !important;
    }
}
