.easi-modal {
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 400;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.375em;
    line-height: 1.6em;

    @media screen and (min-width: $tablet) {
      width: 668px;
      height: auto;
    }
  }

  &__x-button {
    display: block;
    margin: 1rem 1rem 1rem auto;
    padding: 0;
    background: none;
    border: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000;

    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    padding: 0 2rem 2rem;
  }
}
