$black: #010101;
$medium-gray: #d9d9d9;
$turquoise: #009BC3;
$mint-bright-blue: #0071bc;
$mint-blue: #005EA2;
$focus-border: #2491ff;
$mint-cool-vivid: #008480;
$mint-cool-5: #E0F7F6;
$mint-cool-20: #9BD4CF;
$gray-2: #f9f9f9;
$gray-50: #757575;
