$black: #010101;
$medium-gray: #d9d9d9;
$turquoise: #009BC3;
$mint-bright-blue: #0071bc;
$mint-blue: #005EA2;
$focus-border: #2491ff;
$mint-cool-5: #E0F7F6;
$mint-cool-20: #9BD4CF;
$gray-2: #f9f9f9;
$gray-50: #757575;
$red-cool-10: #f3e1e4;
$blue-10: #d9e8f6;
$orange-warm-10: #fbe0d0;
$yellow-5: #faf3d1;
$green-5: #eaf4dd;
$green-50: #607F35;
$indigo-cool-60: #3F57A6;
$mint-cool-50v: #008480;
