// USWDS Settings
$theme-font-path: '~uswds/src/fonts';
$theme-image-path: '~uswds/src/img';
$theme-hero-image: '~uswds/src/img/hero.png';

// Override defaultUSWDS maximum width settings
$theme-header-max-width: 'desktop-lg';
$theme-grid-container-max-width: 'desktop-lg';
$theme-footer-max-width: 'desktop-lg';

// Override default USWDS body font
$theme-font-type-sans: 'public-sans';

// Override default sorted header background color
$theme-table-sorted-header-background-color: 'white';

// All utility classes use !important
$utilities-use-important: 'true';

// All heading roles use sans
$theme-font-role-heading: 'sans';
