$mobile: 480px;
$tablet: 640px;
$desktop: 1024px;

// division by 1px removes the unit
:export {
    mobile: calc($mobile / 1px);
    tablet: calc($tablet / 1px);
    desktop: calc($desktop / 1px);
}
