@use 'colors' as *;
@use 'viewports' as *;

// Custom USWDS Button
.mint-button {
  &__save {
    background-color: #f3966d;
    color: #171717;
    &:hover {
      background-color: #f3966d;
      color: #171717;
    }
  }
}

//  Global changes to usa-label
.usa-label {
  margin-top: 2rem;
  font-weight: bold;
}

// <Card> components (which have .usa-card) are <li> elements, and render a bullet point without this.
.usa-card {
  list-style-type: none;
}

// Textarea
.usa-textarea {
  height: 7.5rem;
  max-width: 100%;
  width: 100%;
}

.mint-textarea {
  min-height: 2.5rem !important;
  resize: both !important;
  height: 2.5rem;
}

// The default font for this project should be Public Sans
[class*='font-heading-'],
.usa-accordion,
.usa-header {
  font-family: 'Public Sans';
  z-index: 300;
}

.usa-table th {
  padding: 1rem;
}

.usa-breadcrumb__list-item:not(:last-child)::after {
  margin-left: .25rem;
  margin-right: .25rem;
}

.usa-alert .usa-alert__body {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.usa-alert.mint-inline-alert {
  background-color: white;
  background-size: 1.6rem;
  background-position: 0.5rem 0.5rem;
  padding: 0;
  &::before {
    width: 0.2rem;
    background: #585c62;
  }
  .usa-alert__body {
    padding-left: 2.8rem;
  }
  .usa-alert__text:only-child {
    margin-bottom: 0;
  }
}

.bg-transparent {
  background-color: transparent;
}


.width-fit-content {
  width: fit-content;
}

.usa-date-picker__calendar {
  font-size: 14px !important;
}

.mint-cool-vivid {
  color: $mint-cool-50v !important;
}

.bg-mint-cool-vivid {
  background-color: $mint-cool-50v !important
}

.mint-cool-5 {
  color: $mint-cool-5 !important;
}

.bg-mint-cool-5 {
  background-color: $mint-cool-5 !important
}

.mint-cool-20 {
  color: $mint-cool-5 !important;
}

.bg-mint-cool-20 {
  background-color: $mint-cool-20 !important
}

.bg-white-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.list-style-none {
  list-style-type: none !important;
}

.line-height-sans-lg {
  line-height: 2.1875rem !important;
}

@media screen and (min-width: 15rem) {
  .mobile\:grid-col-6 {
    flex: 0 1 auto;
    width: 50%;
  }

  .mobile\:grid-col-3 {
    flex: 0 1 auto;
    width: 25%;
  }
}

.bg-gray-2 {
  background-color: $gray-2 !important;
}

.text-uswds-disabled {
  color: $gray-50;
}

.bg-red-cool-10 {
  background-color: $red-cool-10;
}

.bg-mint-cool-50v {
  background-color: $mint-cool-50v;
}

.bg-blue-10 {
  background-color: $blue-10;
}

.bg-orange-warm-10 {
  background-color: $orange-warm-10;
}

.bg-yellow-5 {
  background-color: $yellow-5;
}

.bg-green-5 {
  background-color: $green-5;
}

.text-overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.font-body-xs {
  font-size: 14px !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.z-400 {
  z-index: 400 !important;
}

.top-3px {
  top: 3px !important;
}

.mint-pagination {
  .usa-pagination__page-no {
    margin-left: 0 !important;
  }

  .usa-pagination__button:hover{
    border-bottom: 1px solid;
  }
}

.line-height-normal {
  line-height: 1.5625rem !important;
}

.line-height-large {
  line-height: 2.1875rem !important;
}

.mint-body-normal {
  font-weight: 400 !important;
  line-height: 1.5625rem !important;
  font-size: 1rem !important;
}

.mint-body-large {
  font-weight: 300 !important;
  line-height: 2.1875rem !important;
  font-size: 1.375rem !important;
}

.fixed-table {
  table-layout: fixed;
}
