@media screen {
  .mint-only-print {
    display: none;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  @page {
    @bottom-left {
      content: 'Page ' counter(page) ' of ' counter(pages);
    }
  }
}

@media print {
  .mint-no-print {
    display: none;
  }

  .mint-only-print {
    display: block !important;
  }

  h1 {
    border-bottom: solid 5px #009bc3;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }

  // prince doesn't support overflow: auto
  // this is a different way to create a new block formatting context
  .overflow-auto {
    float: left;
    clear: both;
  }

  .mint-review-row {
    break-inside: avoid;
    display: flex;
    & > div {
      flex: 1;
      margin-bottom: 1.25rem;
    }
  }

  hr.system-intake__hr {
    opacity: 1;
    border-bottom: solid 5px black;
  }

  .mint-responsive-tabs__navigation {
    display: none;
  }

  .mint-responsive-tabs {
    border: 0;
    box-shadow: none;
  }

  .mint-business-case__review-solutions-wrapper {
    padding: 0;
  }

  .alternative-analysis-wrapper {
    background: white;
  }

  .est-lifecycle-cost__total {
    padding: 1rem;
  }
}
