@media all {
  .page-break {
    display: none;
  }

}

@media screen {
  .mint-only-print {
    display: none;
  }

  .mint-only-print-inline {
    display: none;
  }
}

@media print {
  .mint-no-print {
    display: none;
  }

  .mint-only-print {
    display: block !important;
  }

  .mint-only-print-inline {
    display: inline-block !important;
  }

  .usa-alert__body {
    padding-left: 3rem !important;
  }

  .page-break {
    display: block !important;
    page-break-before: always;
    clear: both;
  }

  html {
    font-size: 12px;
  }

  html * {
    font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif !important;
  }

  // prince doesn't support overflow: auto
  // this is a different way to create a new block formatting context
  .overflow-auto {
    float: left;
    clear: both;
  }
}

@page {
  @bottom-left {
    content: 'Page ' counter(page) ' of ' counter(pages);
  }
}
