// .scss settings

// USWDS theme overrides
@forward '../stylesheets/_settings.scss';

// USWDS typography/color theme used below
@use 'uswds-core' as *;
@use 'viewports' as *;

// USWDS all packages
// @forward 'uswds';

// forward all used individual packages to reduce compile time
@forward 'usa-accordion';
@forward 'usa-alert';
@forward 'usa-banner';
@forward 'usa-breadcrumb';
@forward 'usa-button';
@forward 'usa-button-group';
@forward 'usa-card';
@forward 'usa-checkbox';
@forward 'usa-checklist';
@forward 'usa-collection';
@forward 'usa-combo-box';
@forward 'usa-date-picker';
@forward 'usa-date-range-picker';
@forward 'usa-error-message';
@forward 'usa-fieldset';
@forward 'usa-file-input';
@forward 'usa-footer';
@forward 'usa-form';
@forward 'usa-form-group';
@forward 'usa-header';
@forward 'usa-hint';
@forward 'usa-icon';
@forward 'usa-input';
@forward 'usa-label';
@forward 'usa-legend';
@forward 'usa-link';
@forward 'usa-list';
@forward 'usa-media-block';
@forward 'usa-modal';
@forward 'usa-nav';
@forward 'usa-pagination';
@forward 'usa-process-list';
@forward 'usa-radio';
@forward 'usa-search';
@forward 'usa-select';
@forward 'usa-sidenav';
@forward 'usa-summary-box';
@forward 'usa-table';
@forward 'usa-textarea';
@forward 'usa-tooltip';
@forward 'uswds-global';
@forward 'uswds-utilities';
@forward "usa-in-page-navigation";

// Vendor Styles
@forward '../../node_modules/font-awesome/css/font-awesome.min.css';
@forward '@okta/okta-signin-widget/css/okta-sign-in.min.css'; // use path /css instead of /dist/css because that's what the package exports (even though it doesn't match the filesystem)

// Custom USWDS
@forward '../stylesheets/custom.scss';

// Print styles (used for PDF generation)
@forward '../stylesheets/print.scss';

html
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: size('body', $theme-h1-font-size);
}
h2 {
  font-size: size('body', $theme-h2-font-size);
}
h3 {
  font-size: size('body', $theme-h3-font-size);
}
h4 {
  font-size: size('body', $theme-h4-font-size);
}

h5 {
  font-size: size('body', $theme-h5-font-size);
}

.flex-none {
  flex: none !important;
}

.pointer {
  cursor: pointer !important;
}

.deep-underline {
  text-underline-offset: 0.15rem;
}

.no-pointer {
  pointer-events: none;
}

button:disabled {
  cursor: default;
}

.fit-content {
  width: fit-content !important;
}

.skipnav {
  top: 0;
  left: 0;
  position: absolute;
  padding: 1rem 1.5rem;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #000;

  &:focus {
    transform: translateY(0%);
  }
}

#main-content  {
  outline: none;
  border-top: 0;
}

.usa-summary-box__heading {
  margin-bottom: 0rem;
}

@media screen and (min-width: $desktop) {
  .usa-input, .usa-select, .usa-combo-box, .usa-date-picker__wrapper {
    max-width: none !important;
  }
}

input[type="text"]:disabled {
  color: color('disabled-dark');
  border-color: color('disabled-dark');
}

.usa-legend {
  font-weight: $theme-font-weight-bold;
}
