@media print {
  .business-case-solution-header {
    border-top: solid 5px black;
    padding-top: 2.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.business-case-review .easi-pdf-export__controls {
  padding-left: 2rem;
}
