.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  height: 2.5rem;
  width: 100%;
}

.react-datepicker__input-container input {
  padding: 0.5rem;
}

.mint-datepicker-warning {
    position: absolute;
    right: 40px !important;
    bottom: 3px !important;
    height: 35px;
    display: flex;
    align-items: center;
}

.usa-tooltip__trigger {
  cursor: initial !important;
}

.usa-tooltip__body {
  white-space: pre-wrap !important;
  max-width: 20rem !important;
  width: max-content !important;
}