.landing-gov-banner {
  p, button, button:hover {
    color: white;
  }
}

.mint-header__nav-link {
  display: block;
  line-height: .9;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
