
/**
 * These color() values come from https://designsystem.digital.gov/design-tokens/color/state-tokens/
 */
 .system-health-icon-success {
	color: color('success');
}

.system-health-icon-warning {
	color: color('warning');
}

.system-health-icon-fail {
	color: color('error');
}

.system-health-icon-default {
	color: #000000;
}
