{{template "shared_header.html"}}

<p>You&#39;ve been added as a collaborator on {{.ModelName}} in MINT.</p>
<br/>
<h2>
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/collaboration-area">Start collaborating now</a>
</h2>
<br/>
<p>If you have not already been given access to MINT or if you cannot log in with your EUA credentials, please contact the MINT Team at
  <a href="mailto:MINTTeam@cms.hhs.gov" target="_blank" style="font-weight: normal">MINTTeam@cms.hhs.gov</a>.</p>
<br/>
<hr/>
<br/>
<p>You&#39;re automatically following this model. To stop receiving notifications about this model,
  <a href="{{.ClientAddress}}/unfollow/?modelID={{.ModelID}}" style="font-weight: normal">unfollow it</a>.
</p>

{{template "shared_footer.html"}}