
{{template "shared_header.html"}}

{{template "shared_mint_mailbox_header.html" .}}
<hr/>
<br/>

<h2>Your daily updates</h2>
<br/>

{{range $audit := .AnalyzedAudits}}

<br />

<h3>{{$audit.ModelName}}</h3>

<ul>
  {{range $auditChange := $audit.Changes.HumanizedSubset 5}}
    <li >
      {{$auditChange}}
    </li>
  {{end}}
</ul>

<br />

<!-- <a href="{{$.ClientAddress}}/models/{{$audit.ModelPlanID}}/collaboration-area/task-list"> View this Model Plan in MINT </a> -->
<a href="{{$.ClientAddress}}/models/{{$audit.ModelPlanID}}/read-view"> View this model in MINT </a>

<br />
<br />

{{end}}

<hr />
<br />
{{template "shared_mint_mailbox_footer.html"}}

{{template "shared_footer.html"}}

