<p>Hello,</p>

<p>
  You have a new Business Case pending in EASi.
  Please get back to the requester as soon as possible with your response.
</p>

<a href="{{.BusinessCaseLink}}" >Open Business Case for {{.RequestName}} in EASi</a>
