{{template "shared_header.html"}}

<p>The Contract Technical Assistance Team (CTAT) has updated your ticket in MINT.</p>

<br>

<p><u>Ticket progress</u></p>

<p>
    <strong>Status</strong>{{if .StatusUpdated}}<span class="updated"> (Updated)</span>{{end}}<strong>:</strong> {{if .Status}}{{.Status}}{{else}}<i>No status added</i>{{end}}
</p>

<p>
    <strong>Assigned contract assistance team member</strong>{{if .AssignedTeamMemberUpdated}}<span class="updated"> (Updated)</span>{{end}}<strong>:</strong> {{if .AssignedTeamMemberName}}{{.AssignedTeamMemberName}} {{if .AssignedTeamMemberEmail}} ({{.AssignedTeamMemberEmail}}) {{end}}{{else}}<i>No assigned team member added</i>{{end}}
</p>

<p>
    <strong>Progress notes</strong>{{if .ProgressNotesUpdated}}<span class="updated"> (Updated)</span>{{end}}<strong>:</strong> {{if .ProgressNotes}}{{.ProgressNotes}}{{else}}<i>No progress notes added</i>{{end}}
</p>

<p>
    <strong>Resolution</strong>{{if .ResolutionUpdated}}<span class="updated"> (Updated)</span>{{end}}<strong>:</strong> {{if .Resolution}}{{.Resolution}}{{else}}<i>No resolution added</i>{{end}}
</p>

<br>

<p>
  <a href="{{.ClientAddress}}/help-and-knowledge/contract-assistance/TODO/{{.CTATTicketID}}">View this ticket in MINT</a>
</p>

<br>

<p><u>Ticket summary</u></p>
<p><strong>Ticket number:</strong> {{.TicketNumber}}</p>
<p><strong>Requester:</strong> {{.RequesterName}} ({{.RequesterEmail}})</p>
<p><strong>CMMI group:</strong> {{.CMMIGroup}}</p>
{{if .CMMIDivision}}
<p><strong>CMMI division:</strong> {{.CMMIDivision}}</p>
{{end}}
{{if .RelatedMINTModels}}
<p><strong>Model or demonstration:</strong> {{.RelatedMINTModels}}</p>
{{end}}
{{if .ContractActivityType}}
<p><strong>Contract activity type:</strong> {{.ContractActivityType}}</p>
{{end}}
{{if .ContractName}}
<p><strong>Contract name:</strong> {{.ContractName}}</p>
{{end}}
{{if .ContractType}}
<p><strong>Contract type:</strong> {{.ContractType}}</p>
{{end}}
<p><strong>Type of help needed:</strong> {{.TypeOfHelpNeeded}}</p>
<p><strong>Describe the type of assistance you need:</strong> {{.DescribeHelpNeeded}}</p>
<p><strong>Request urgency:</strong> {{.RequestUrgency}}</p>
<p><strong>When do you need assistance by:</strong> {{.DateAssistanceNeededBy}}</p>
{{if .UploadedFiles}}
<p><strong>Uploaded files:</strong> {{.UploadedFiles}}</p>
{{end}}

<br>

<p>What happens next:</p>
<ul>
    <li>
        Your assigned contract assistance team member will continue to:
        <ul>
            <li>work with you to understand your request and help you arrive at a resolution,</li>
            <li>keep the status of your ticket up-to-date in MINT and will document any relevant notes, and</li>
            <li>document the resolution of the ticket once the work is completed.</li>
        </ul>
    </li>
</ul>

<hr>

<p>You are receiving this email because you submitted a contract assistance request in MINT. If you believe you have received this email in error, please contact <a href="mailto:MINTTeam@cms.hhs.gov" target="_blank" style="font-weight: normal">MINTTeam@cms.hhs.gov</a>.</p>

