
{{template "shared_header.html" "Your daily updates"}}

{{range $audit := .AnalyzedAudits}}

<br />

<h3>{{$audit.ModelName}}</h3>

<ul>
  {{range $auditChange := $audit.Changes.HumanizedSubset 5}}
    <li>
      {{$auditChange}}
    </li>
  {{end}}
</ul>

<br />

<a href="{{$.ClientAddress}}/models/{{$audit.ModelPlanID}}/change-history"> View all recent changes </a>

<br />
<br />

{{end}}

<br />
<hr />
<br />

<p> To stop receiving notifications for a specific model, unfollow the model at the top of the Model Plan page. </p>

{{template "shared_footer.html"}}
                                   