{{template "shared_header.html"}}

{{if .IsGeneralUser}}
  {{template "shared_non_mint_mailbox_header.html"}}
{{else}}
  {{template "shared_mint_mailbox_header.html"}}
{{end}}
<hr/>
<br/>

<h2>Your daily updates</h2>
<br/>

{{range $audit := .AnalyzedAudits}}

<br />

<h3>{{$audit.ModelName}}</h3>

<ul>
  {{range $auditChange := $audit.Changes.HumanizedSubset 5}}
    <li>
      {{$auditChange}}
    </li>
  {{end}}
</ul>

<br />

<a href="{{$.ClientAddress}}/models/{{$audit.ModelPlanID}}/change-history"> View this model in MINT </a>

<br />
<br />

{{end}}

<hr />
<br />

{{if .IsGeneralUser}}
  <p>To stop receiving notifications for a specific model, unfollow that model.</p>
  <br/>
  {{template "shared_access_banner.html" .}}
{{else if (not .IsGeneralUser)}}
  {{template "shared_mint_mailbox_footer.html"}}
{{end}}

{{template "shared_footer.html"}}
                                   