/* Element styles */
.header {
  padding: 3pt 0 0 5pt;
}

.subheader {
  padding: 11pt 0 0 5pt;
}

.model {
  padding-top: 14pt;
  padding-left: 5pt;
}

.created-by {
  padding-top: 12pt;
  padding-left: 5pt;
}

.view-model {
  padding-top: 13pt;
  padding-left: 5pt;
}
