<p>Lifecycle ID: {{.LifecycleID}}</p>
<p>Expiration Date: {{.ExpiresAt}}</p>
<p>Scope: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.Scope}}</pre></p>
{{if .NextSteps}}<p>Next Steps: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.NextSteps}}</pre></p>
{{end}}
<p>Feedback: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.Feedback}}</pre></p>