{{template "shared_header.html"}}

{{template "shared_mint_mailbox_header.html"}}
<hr/>
<br/>

<h2>New model</h2>
<br/>

<h3>{{.ModelName}}</h3>
<p>Created by {{.UserName}}</p>
<br/>
<p>
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-view">View this model in MINT</a>
</p>

{{if .ShowFooter}}
  <hr>
  <br/>
  <p>
    You are currently subscribed to notifications about new Model Plans. If you no longer wish to receive these email notifications, please <a href="{{.ClientAddress}}/notifications/settings?unsubscribe_email=NEW_MODEL_PLAN">unsubscribe</a> or change your <a href="{{.ClientAddress}}/notifications/settings">notification settings</a>.
  </p>
{{end}}

<br />
<hr />
<br />

{{template "shared_mint_mailbox_footer.html"}}