{{template "shared_header.html"}}

<p>Your model's anticipated timeline suggests that
{{- if eq .Phase "IN_CLEARANCE"}} it is now in clearance
{{- else if eq .Phase "ICIP_COMPLETE"}} your ICIP is now complete
{{- else if eq .Phase "CLEARED"}} it is now cleared
{{- else if eq .Phase "ANNOUNCED"}} it is now announced
{{- else if eq .Phase "ACTIVE"}} it is now active
{{- else if eq .Phase "ENDED"}} it is now ended
{{end}}. Would you like to update the status of your model to reflect that? If your
{{- if eq .Phase "IN_CLEARANCE"}} model is not yet in clearance
{{- else if eq .Phase "ICIP_COMPLETE"}} model's ICIP is not yet complete
{{- else if eq .Phase "CLEARED"}} model is not yet cleared
{{- else if eq .Phase "ANNOUNCED"}} model is not yet announced
{{- else if eq .Phase "ACTIVE"}} model is not yet active
{{- else if eq .Phase "ENDED"}} model has not yet ended
{{end}}, please adjust your model’s anticipated timeline.</p>
<br/>
<br/>
<b>Current status: </b>{{.CurrentStatusHumanized}}
<br/>
<b>New status:</b>
{{- if gt (len .SuggestedStatusesHumanized) 1}} You will be asked to select from one of the available clearance stage statuses
{{- else}} {{index .SuggestedStatusesHumanized 0}}
{{end}}
<br />
<br />
<a href="{{.ClientAddress}}/models/{{.ModelPlanID}}/status?model-status={{index .SuggestedStatusesRaw 0}}">Yes, update my model’s status</a>
<br/>
<br/>
<p>If you’re not ready to update your model’s status, please <a href="{{.ClientAddress}}/models/{{.ModelPlanID}}/task-list/basics/milestones">adjust your model’s anticipated timeline</a>. If you adjust your timeline, you may receive this notification again.</p>
<hr />
<br />
<p>You’re receiving this notification because you are listed as the model lead for {{.ModelPlanName}}. If this is incorrect, <a href="{{.ClientAddress}}/models/{{.ModelPlanID}}/collaborators">please update the model team</a>.</p>