{{template "shared_header_old.html"}}

<body>
<h1>MINT</h1>
<p class="subtitle">The Model Innovation Tool</p>
<br/>
<br/>
<h2>Dates updated for {{.ModelName}}</h2>
<p style="padding-top: 10px">One or more dates have been updated for this model.</p>
<br/>
<br/>
<h3>Anticipated high level timeline</h3>

{{define "date"}}
    {{if .}}
        {{.Format "01/02/2006"}}
    {{else}}
      <i>no date entered</i>
    {{end}}
{{end}}

{{range .DateChanges}}
  <br/>
  <p>
    <b>{{.Field}}</b>
    <br/>
      {{if .IsRange}}
          {{if .IsChanged}}
            <span style="color: #D54309; text-decoration: line-through;">
              {{template "date" .OldRangeStart}} - {{template "date" .OldRangeEnd}}<br/>
            </span>
            {{template "date" .NewRangeStart}} - {{template "date" .NewRangeEnd}}
          {{else}}
            {{template "date" .OldRangeStart}} - {{template "date" .OldRangeEnd}}
          {{end}}
      {{else}}
          {{if .IsChanged}}
            <span style="color: #D54309; text-decoration: line-through;">{{template "date" .OldDate}}</span> &nbsp; {{template "date" .NewDate}}
          {{else}}
            {{template "date" .OldDate}}
          {{end}}
      {{end}}
    <br/>
  </p>
{{end}}

<br/>
<p style="padding-bottom: 10px">
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-only" class="link">
    View this Model Plan in MINT
  </a>
</p>
</body>