{{template "shared_header.html"}}

{{if .IsGeneralUser}}
  {{template "shared_non_mint_mailbox_short_header.html" .}}
{{else}}
  {{template "shared_mint_mailbox_header.html" .}}
{{end}}
<hr/>
<br/>

<h2>New model</h2>
<br/>

<h3>{{.ModelName}}</h3>
<p>Created by {{.UserName}}</p>
<br/>
<p>
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-view">View this model in MINT</a>
</p>

<hr>
<br/>
{{if .IsGeneralUser}}
  {{template "shared_subscribed_footer.html" .}}
{{else}}
  {{template "shared_mint_mailbox_footer.html"}}
{{end}}