{{template "shared_header.html" "New Model Plan"}}

<h3>{{.ModelName}}</h3>
<p>Created by {{.UserName}}</p>
<br/>
<p>
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/task-list">View this Model Plan in MINT</a>
</p>
<br/>

{{if .ShowFooter}}
  <hr>
  <br/>
  <p>
    You are currently subscribed to notifications about new Model Plans. If you no longer wish to receive these email notifications, please <a href="{{.ClientAddress}}/notifications/settings">unsubscribe</a> or change your <a href="{{.ClientAddress}}/notifications/settings">notification settings</a>.
  </p>
{{end}}