{{template "shared_header.html"}}

<h2>Dates updated for {{.ModelName}}</h2>
<p>One or more dates have been updated for this model.</p>
<br/>
<br/>
<h3>Anticipated high level timeline</h3>

{{define "date"}}
    {{if .}}
        {{.Format "01/02/2006"}}
    {{else}}
      <i style="display: initial;">no date entered</i>
    {{end}}
{{end}}

{{range .DateChanges}}
  <br/>
  <p>
    <b>{{.Field}}</b>
    <br/>
      {{if .IsRange}}
          {{if .IsChanged}}
            <span style="color: #D54309; text-decoration: line-through;">
              {{template "date" .OldRangeStart}} - {{template "date" .OldRangeEnd}}<br/>
            </span>
            {{template "date" .NewRangeStart}} - {{template "date" .NewRangeEnd}}
          {{else}}
            {{template "date" .OldRangeStart}} - {{template "date" .OldRangeEnd}}
          {{end}}
      {{else}}
          {{if .IsChanged}}
            <span style="color: #D54309; text-decoration: line-through;">{{template "date" .OldDate}}</span> &nbsp; {{template "date" .NewDate}}
          {{else}}
            {{template "date" .OldDate}}
          {{end}}
      {{end}}
    <br/>
  </p>
{{end}}

<br/>
<p>
  <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-only">
    View this Model Plan in MINT
  </a>
</p>
<br>

{{if .ShowFooter}}
  <hr>
  <br/>
  <p>
    You are currently subscribed to notifications about changes to model dates. If you no longer wish to receive these email notifications, please <a href="{{.ClientAddress}}/notifications/settings?unsubscribe_email=DATES_CHANGED">unsubscribe</a> or change your <a href="{{.ClientAddress}}/notifications/settings">notification settings</a>.
  </p>
{{end}}