<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Content</title>
  {{template "shared_css.html"}}
</head>
<body>
<h1 style="padding-top: 3pt;">MINT</h1>
<p class="subtitle" style="padding-top: 11pt;">The Model Innovation Tool</p>
<br/>
<h2 style="padding-top: 14pt;">{{.UserName}} has shared a Model Plan with you:</h2>
<br/>
<!-- Only show the optional message if it exists -->
{{if and .OptionalMessage (gt (len .OptionalMessage) 0)}}
  <p style="font-size: 15.5pt;
      font-weight: normal;
      font-style: normal;
      color: #565C65;
      font-family: 'Public Sans', sans-serif;
      text-decoration: none;">"{{.OptionalMessage}}"</p>
  <br/>
{{end}}

<table style="width: 335px; border: 1px solid #E6E6E6; border-radius: 6px; padding: 20px; display: inline-table;">
  <tr>
    <td style="vertical-align: top; padding: 20px;">
      <h1 style="display: inline-block;">{{.ModelName}}</h1>
        {{if .ModelShortName}}<h2 style="display: inline-block;"> ({{.ModelShortName}})</h2>{{end}}
      <br/>

      <h3>Category</h3>
      <p>
          {{if .ModelCategories}}
              {{- range $index, $element := .ModelCategories -}}
                  {{ if $index }}, {{ end }}
                  {{$element}}
              {{- end -}}
          {{else}}
            To be determined
          {{end}}
      </p>
      <br/>

      <h3>Status</h3>
      <p>{{.ModelStatus}}</p>
      <br/>

      <h3>Last Updated</h3>
      <p>{{.ModelLastUpdated.Format "2006-01-02 15:04:05"}}</p>
      <br/>

      <h3>Model Leads</h3>
      <p>
          {{if .ModelLeads}}
              {{- range $index, $element := .ModelLeads -}}
                  {{- if $index -}}, {{- end -}}
                  {{$element}}
              {{- end -}}
          {{else}}
            To be determined
          {{end}}
      </p>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      <p style="padding-top: 14pt;">
          {{if .ModelViewFilter}}
            <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-only?filter-view={{.ModelViewFilter}}" class="link">
              View {{.HumanizedModelViewFilter}} details in MINT
            </a>
          {{else}}
            <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-only" class="link">
              View more details in MINT
            </a>
          {{end}}
      </p>
    </td>
  </tr>
</table>

<br/>
<br/>

<table style="width: 335px; height: 120px; padding: 15px 20px 20px 20px; gap: 10px; background: #E7F6F8; display: inline-table;">
  <tr>
    <td>
      <p>
        If you don’t have access to MINT yet, you will need to request access.

        <br/>
        <br/>

        <a href="{{.ClientAddress}}/how-to-get-access" class="link">
          Learn how to get access
        </a>
      </p>
    </td>
  </tr>
</table>

<br/>
<br/>

</body>