{{template "shared_header.html"}}

{{template "shared_mto_common_solution_header.html"}}

<hr/>

<p>A new System Owner or Business Owner has been added for {{.SolutionAcronym}}. You may double-check the details below.</p>

<br/>

<p><strong>CMS component:</strong> {{.SolutionAcronym}}</p>
<p><strong>Owner type:</strong> {{.OwnerType}}</p>

<br/>

<h2>
  <a href="{{.ClientAddress}}/help-and-knowledge/operational-solutions?solution-key={{.Key}}" target="_blank">View operational solution in MINT</a>
</h2>

<br/>

<p>If you believe this to be an error, please check with the operational solution team. You may edit system owner information in MINT if it is incorrect.</p>

<hr/>

{{template "shared_solution_poc_footer.html"}}

{{template "shared_footer.html"}}
