{{template "shared_header.html"}}

{{template "shared_mto_common_solution_header.html"}}

<hr/>

<p>
  A point of contact for <strong>{{.SolutionAcronym}}</strong> has been updated. You may double-check the details below.
</p>

<ul>
  <li><strong>Updated contact name:</strong> {{.ContactName}}</li>
  <li><strong>Updated contact email:</strong> {{.ContactEmail}}</li>
  <li><strong>Updated contact role:</strong> {{.ContactRole}}</li>
  <li><strong>Primary contact:</strong> {{.IsPrimary}}</li>
  <li><strong>Will receive notifications from MINT:</strong> {{.ReceivesNotifications}}</li>
</ul>

<p>
  <a href="{{.ClientAddress}}/help-and-knowledge/operational-solutions?solution-key={{.Key}}">View operational solution in MINT</a>
</p>

<p style="margin-top: 20px;">
  If you believe this to be an error, please check with the operational solution team. You may edit point of contact information in MINT if it is incorrect.
</p>

<hr/>

{{template "shared_mint_mailbox_footer.html"}}

{{template "shared_footer.html"}}
