<p>A new 508 testing request has been added to EASi.</p>
<p>Name of submitter: {{.RequesterName}}<br>
Request: {{.RequestName}}<br>
Application: {{.ApplicationName}}</p>
<a href="{{.RequestLink}}">Go to request in EASi</a>
