{{template "shared_header.html"}}


<h3>A model plans to use {{.SolutionName}}:</h3>
<br/>
<table>
  <tr>
    <td>
      <div class="container-border">
        <h2>{{.ModelName}}</h2>
        {{ if .ModelAbbreviation}} ({{.ModelAbbreviation}})
         <br/>
        {{end}}
        <br/>
        <p><b>Status</b></p>
        <p>{{.ModelStatus}}</p>
        <br/>
        {{ if .ModelStartDate }}
        <p><b>Model start date</b></p>
        <p>{{.ModelStartDate.Format "01/02/2006"}}</p>
        <br/>
        {{ end }}
        <p><b>Model lead(s)</b></p>
        <p>{{.ModelLeadNames}}</p>
        <br/>
        <p><b>Operational need</b></p>
        <p>{{.NeedName}}</p>
        <br/>
        {{- /* Uncomment this if solution is desired in the future
        <p><b>Solution Status</b></p>
        <p>{{.SolutionStatus}}</p>
        <br/>
        - */}}
        <p style="font-weight: normal">
          <a href="{{.ClientAddress}}/models/{{.ModelID}}/read-view/model-basics{{ if .FilterView }}?filter-view={{.FilterView}} {{end}}">
            View {{ if .FilterView}} {{.FilterView}} {{ else }} more {{end}} details in MINT
          </a>
        </p>
        <br/>
      </div>
    </td>
  </tr>
</table>
<br/>
<br/>
<hr/>
<br/>
{{template "shared_solution_poc_footer.html" .}}

{{template "shared_footer.html"}}