<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Content</title>
  {{template "shared_css.html"}}
</head>
<body>
  <h1 style="padding-top: 3pt;">MINT</h1>
  <p class="subtitle" style="padding-top: 11pt;">The Model Innovation Tool</p>
  <br/>
  <h2 style="padding-top: 14pt;">New question</h2>
  <br/>
  <br/>
  <p style="padding-top: 18pt;">{{.UserName}} asked</p>
  <h3 style="padding-top: 14pt;">{{.DiscussionContent}}</h3>
  <p style="padding-top: 14pt;">in {{.ModelName}}</p>
  <br/>
  <p style="padding-top: 14pt;">
    <a href="{{.ClientAddress}}/models/{{.ModelID}}/task-list?discussionID={{.DiscussionID}}" class="link">
      Respond to this question in MINT
    </a>
  </p>
</body>
</html>