<p>Reason: {{.Reason}}</p>
{{if .NextSteps}}<p>Next Steps: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.NextSteps}}</pre></p>
{{end}}
<p>Feedback: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.Feedback}}</pre></p>