{{template "shared_header.html" "Problem Report"}}

<h3>Reporter</h3>

{{if .IsAnonymousSubmission }}
  <p>Anonymous</p>
{{else}}
  <p>{{.ReporterName}}</p>
  <a href="mailto:{{.ReporterEmail}}">{{.ReporterEmail}}</a>
  <br />
  <br />
  {{if .AllowContact}}
    <p>{{.AllowContact}}</p>
  {{else}}
    <i>User didn't specify if they could be contacted</i>
  {{end}}
{{end}}

<br />
<hr />
<br />

<h3>Which part of MINT were you using when you encountered the issue?</h3>

{{ if .Section}}
  <p>{{.Section}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br />

<h3>What were you doing?</h3>

{{ if .WhatDoing}}
  <p>{{.WhatDoing}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br />

<h3>What went wrong?</h3>

{{ if .WhatWentWrong}}
  <p>{{.WhatWentWrong}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br />

<h3 >How severe was the problem?</h3>

{{ if .Severity}}
  <p>{{.Severity}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

{{template "shared_footer.html"}}