{{template "shared_header.html" "Feedback"}}

<h3>Reporter</h3>

{{if .IsAnonymousSubmission }}
  <p>Anonymous</p>
{{else}}
  <p>{{.ReporterName}}</p>
  <a href="mailto:{{.ReporterEmail}}">{{.ReporterEmail}}</a>
  <br />
  <br />
  {{if .AllowContact}}
    <p>{{.AllowContact}}</p>
  {{else}}
    <i>User didn't specify if they could be contacted</i>
  {{end}}
{{end}}

<br />
<hr />
<br/>

<h3>What is your role?</h3>

{{ if .CMSRole}}
  <p>{{.CMSRole}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br/>

<h3>What have you used MINT for?</h3>

{{ if .MINTUsedFor}}
<ul>
{{range $use := .MINTUsedFor}}
<li>
  {{$use}}
</li>
{{end}}
</ul>
{{else}}
  <i>Left Blank</i>
{{end}}

<br/>

<h3>The system is easy to use.</h3>

{{ if .SystemEasyToUse}}
  <p>{{.SystemEasyToUse}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br/>

<h3>Overall, how satisfied are you with MINT?</h3>

{{ if .HowSatisfied}}
  <p>{{.HowSatisfied}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

<br/>

<h3>How can we improve MINT?</h3>

{{ if .HowCanWeImprove}}
  <p>{{.HowCanWeImprove}}</p>
{{else}}
  <i>Left Blank</i>
{{end}}

{{template "shared_footer.html"}}
