{{template "shared_style.html"}}

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td align="center">      

            <div class="container-border">

                <h1 style="padding-top: 3pt;">MINT</h1>

                <p class="subtitle">Model Innovation Tool</p>

                <br>
                <br>

                {{if .}}
                    <h2>{{.}}</h2>
                    
                    <br>
                {{end}}
                

                