<p>Hello,</p>

<p>
  You have a new intake request pending in EASi.
  Please get back to the requester as soon as possible with your response.
</p>

<a href="{{.IntakeLink}}" >Open intake request for {{.RequestName}} in EASi</a>
