@use 'uswds-core' as *;

.share-export-modal {

    .usa-button:not([disabled]):focus {
        outline-offset: -.25rem !important;
    }

    &__nav {
        border-bottom: .25rem solid transparent !important;
        bottom: -5px;     
    }

    &__active {
        border-bottom: .25rem solid color('primary') !important;
    }
}
