@use 'uswds-core' as *;
@use 'colors' as *;

.share-export-modal {

    .usa-form {
        max-width: none;
    }

    .usa-combo-box {
        max-width: 35rem !important;
    }

    .usa-button:not([disabled]):focus {
        outline-offset: -.25rem !important;
    }

    &__nav {
        text-decoration: none !important;
    }

    &__active {
        border-bottom: .25rem solid color('primary') !important;
    }

    .mint-modal__x-button svg {
        top: 2px;
    }

    &__optional-message-textarea {
        height: 90px !important;
    }

    &__container {
        max-height: 95vh;
        max-width: 95%;
        overflow: auto;
    }

    &__menu {
        border: 2px solid color('base-lighter');    
        box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
        text-decoration: none !important;
        margin-top: 2.45rem !important;
        width: 17rem !important;
        z-index: 1000;

        .usa-nav__submenu-item {
            border: 0 !important
        }
    }

    &__menu-item {
        &:hover {
            background-color: color('primary-lighter') !important;
        }
    }

    li[value*="export-label"] {
        pointer-events: none;
        color: color('primary-darker');
        font-weight: bold;
        padding-top: 1.25rem;
    }
}
