@use 'uswds-core' as *;

.share-export-modal {

    .usa-button:not([disabled]):focus {
        outline-offset: -.25rem !important;
    }

    &__nav {
        border-bottom: .25rem solid transparent !important;
        bottom: -3px;     
    }

    &__active {
        border-bottom: .25rem solid color('primary') !important;
    }

    .usa-modal__content {
        display: block;
        padding-top: 0;
    }

    .usa-modal__main {
        padding: 0;
    }

    .usa-modal__close {
        position: absolute;
        right: 0;
        margin-right: 4px;
        top: 36px;
    }
}
