@use 'uswds-core' as *;
@use 'colors' as *;

.read-only-model-plan {
  &__subNav-accordion {
    button.usa-menu-btn {
      text-transform: none;
    }
  }

  &__subNav__list-container {
    padding: 16px;
  }
  &__subNav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &.subNav {
      li {
        margin-bottom: 1rem;
        line-height: 1.62;

        &.subNav__item--group-border {
          border-bottom: 1px solid $mint-blue;
          padding-bottom: 0.75rem;
        }

        &.subNav__item--back-to-all-models {
          border-top: 1px solid $mint-blue;
          padding-top: 2rem;
          margin-bottom: 0;

          a {
            color: color('white');
            text-decoration: underline;
          }
        }
      }

      a {
        display: flex;
        color: color('white');
        text-decoration: none;
        position: relative;

        &.subNav--current {
          padding: 0.5rem 1rem;
          font-weight: bold;

          &::after {
            background-color: color('white');
            border-radius: 99rem;
            content: "";
            display: block;
            position: absolute;
            bottom: 0.25rem;
            top: 0.25rem;
            width: 0.25rem;
            left: 0;
          }
        }
      }
    }
  }
}
