@use 'uswds-core' as *;
@use 'viewports' as *;

.model-plan-read-only {
  .description-truncated {
    .description-definition {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.expanded {
      .description-definition {
        display: block;
        overflow: auto;
      }
      .expand-icon {
        transform: rotate(180deg);
      }
    }
  }

  .model-plan-status-bar {
    p {
      font-weight: bold;
    }
  }

  .model-plan-alert-wrapper {
    @media screen and (min-width: 64em) {
      margin-left: auto;
      margin-right: auto;
      max-width: 75rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .sticky-nav {
    align-self: start;
    position: sticky;
    top: 140px;
  }

  .model-plan__model-leads__wrapper {
    padding-left: 2rem;
    border-left: .25rem solid color($theme-color-primary-lighter);
    border-top: 0;

    @media screen and (min-width: $desktop) {
      padding-left: 0;
      border-top: .25rem solid color($theme-color-primary-lighter);
      border-left: 0;
    }

  }
  .status-min-height {
    min-height: 46px;
  }
}
