@use 'uswds-core' as *;

.mint-section {
    &__border {
        border: 1px solid color($theme-color-base-light);
    }
    &__border-bottom {
        border-bottom: 1px solid color($theme-color-base-light);
    }
    &__border-top {
        border-top: 1px solid color($theme-color-base-light);
    }
}
