// We reset the default padding of GridContainer because <Card>s have a default padding.
.grid-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.system-health-center-text {
	text-align: center;
}
