@use 'uswds-core' as *;

.solutions-checkbox {
  &__header {
    word-break: break-word;
    line-height: 26px !important;

    .usa-checkbox__label {
      margin-top: 0;
    }
  }

  &__checked {
    border: 2px solid color($theme-color-primary-light) !important;
    box-shadow: 0px 4px 15px rgba(115, 179, 231, 0.75) !important;
  }

  &__body-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .usa-card__container {
    border-radius: 4px;
  }
}
