@use 'colors' as *;

.usa-nav {
    margin-left: -1em
}

.usa-nav__primary-item {
    .mint-nav {
        display: flex;

        &__item {
            display: flex;
        }

        &__user {
            color: #71767A;
        }

        &__link {
            color: #565C65;
            padding: 1em;            
        }

        &__current {
            height: .25em;
            // background-color: $mint-blue;
            margin-top: .5em;
            pointer-events: none;
        }

        &__signout-container {
            margin-top: 2em
        };

        a {   
            &:visited {
                color: #565C65
            }             
        }

        .usa-current {
            color: $mint-blue;
            .usa-logo__text {
                color: $mint-blue;
            }
        }

    }
}

.border-top-light {
    border-top: 1px solid #DFE1E2;
}
