// .scss settings
@import './stylesheets/_settings.scss';

// TODO: The commented lines are attempts to require Public Sans
// through USWDS instead of using Google Fronts. Work in progress
// @import '~uswds/src/stylesheets/settings/_settings-color.scss';
// @import '~uswds/src/stylesheets/settings/_settings-components.scss';
// @import '~uswds/src/stylesheets/settings/_settings-general.scss';
// @import '~uswds/src/stylesheets/settings/_settings-spacing.scss';
// @import '~uswds/src/stylesheets/settings/_settings-typography.scss';
// @import '~uswds/src/stylesheets/settings/_settings-utilities.scss';

// @import '~uswds/src/stylesheets/core/_functions.scss';
// @import '~uswds/src/stylesheets/core/_system-tokens.scss';
// @import '~uswds/src/stylesheets/core/_variables.scss';
// @import '~uswds/src/stylesheets/core/_properties.scss';
// @import '~uswds/src/stylesheets/core/mixins/_all.scss';

// @import '~uswds/src/stylesheets/global/_font-face.scss';
// @import '~uswds/src/stylesheets/lib/_normalize.scss';

// @import '~uswds/src/stylesheets/utilities/palettes/_all.scss';
// @import '~uswds/src/stylesheets/utilities/rules/_all.scss';
// @import '~uswds/src/stylesheets/utilities/rules/_package.scss';

// Vendor Styles
@import '~font-awesome/css/font-awesome.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@trussworks/react-uswds/lib/index.css';
@import 'uswds';

// Custom USWDS
@import './stylesheets/custom.scss';

// Print styles (used for PDF generation)
@import './stylesheets/print.scss';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: size('body', $theme-h1-font-size);
}
h2 {
  font-size: size('body', $theme-h2-font-size);
}
h3 {
  font-size: size('body', $theme-h3-font-size);
}
h4 {
  font-size: size('body', $theme-h4-font-size);
}

h5 {
  font-size: size('body', $theme-h5-font-size);
}

.pointer {
  cursor: pointer !important;
}

.skipnav {
  top: 0;
  left: 0;
  position: absolute;
  padding: 1rem 1.5rem;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #000;
  z-index: 100;

  &:focus {
    transform: translateY(0%);
  }
}

#main-content {
  outline: none;
  border-top: 0;

  table {
    tr {
      p {
          margin: 0;
      }

      th {
        border-bottom: 0.5px solid black;
        border-top: 0;
      }
    }
    td {
      border-top: .5px;
      white-space: unset;
      border: 0;
      border-bottom: 0.5px solid #1b1b1b;
    }
  }
}
