@use 'uswds-core' as *;

.easi-multiselect--tag {
  .usa-icon {
    cursor: pointer;
  }
}

.easi-multiselect .usa-combo-box__list-option {
  &--focused {
    background-color: color('base-lightest');
    outline: none;

    .usa-checkbox {
      background-color: transparent;
    }
  }

  label {
    margin-top: 0;
  }
}
