.solution-card {
    .usa-card__container {   
        border-radius: .25rem;
    }

    &__body {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: .75rem;
    }

    &__container {
        min-height: 25.7rem !important;
    }

    &__header {
        min-height: 20.6rem !important;
        line-height: 1.75rem !important;
    }

    &__fill-card-space {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.shadow {
    .usa-card__container {   
        box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.1)
    }
}
