@use 'uswds-core' as *;

.card--model-plan {
  min-height: 420px;

  .usa-card__container {
    border-radius: 4px;
    border-color: #e6e6e6;
    @include u-shadow(2)
  }

  .card__section-status {
    display: flex;
    gap: 24px;
    padding: 0 24px;
    margin-block: 16px;
  }


  .usa-card__footer {
    border-top: 1px solid color('base-light');
    padding-inline: 0;
    margin-inline: 24px;
    padding-top: 24px;
  }
}
