.mint-responsive-tabs {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #E0E0E0;

  &__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__tab-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    white-space: nowrap;
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    height: 54px;
    flex-shrink: 0;

    &--selected {
      background-color: #fff;

      .mint-responsive-tabs__tab-btn {
        font-weight: bold;
      }

      .mint-responsive-tabs__tab-text {
        border-bottom: 4px solid #009bc3;
      }
    }
  }

  &__tab + &__tab {
    .mint-responsive-tabs__tab-divider {
      border-left: 2px solid #c7c7c7;
    }
  }

  &__tab--selected + &__tab,
  &__tab + &__tab--selected {
    .mint-responsive-tabs__tab-divider {
      border-left: 0;
    }
  }

  &__tab-btn {
    height: 100%;
    padding: 0;
    background: none;
    border: 0;
    font-size: 22px;

    &:hover {
      cursor: pointer;
    }
  }

  &__tab-text {
    margin: 0 24px;
    padding: 5px 0;
  }

  &__more-btn {
    height: 100%;
    padding-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  &__angle-right {
    margin-top: -0.125em;
    margin-right: 10px;
    font-size: 40px !important;
    vertical-align: middle;
  }

  &__more-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 10px;
      font-size: 22px;
    }
  }
}
